<div class="card">
  <div class="card-header">
    <h1>Sell</h1>
  </div>
  <form>
    <div class="form-group">
      <label for="sellAmountInput">Eminence Amount</label>
      <div class="input-group">
        <input id="sellAmountInput" class="form-control" placeholder="0.0000" [(ngModel)]="sellAmount" name="sellAmountInput">
      </div>
      <button type="button" class="btn btn-link available-btn" (click)="max()">Available:
        {{eminenceBalance.toFormat()}}</button>
    </div>
  </form>
  <button type="button" class="btn btn-block btn-outline" (click)="sell()">Sell</button>
</div>